/* #region General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --c-a-t: #0061ff;
    --hero: #b4d0e7;
}

/* #endregion General */

/* #region Utilities */
.container-d-flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 65%;
    margin: auto;
}

/* #debug .container{
    background-color: yellow;
    min-height: 300px;
} */

.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-12{
    width: 100%;
}
/* #endregion Utilities */

/* #region Header */
.left, .right{
    width: 50%;
    align-items: center;
}

.left{
    justify-content: flex-start;
    padding-left: 1rem;
}

.right{
    justify-content: flex-end;
    padding-right: 1rem;
}

#l-menu > a{
    padding: 0 1rem;
}

#r-menu > a{
    padding: 0 1rem;
}

.not-active{
    text-decoration: none;
    color: black;
}

.not-active:hover{
    text-decoration: line-through;
}

/* #region Button */
#start{
    background-color: #0061ff;
    color: white;
    border-style: none;
    padding: 0.5rem;
}

/* #start-active{
    display: none;
    background-color: #60137edb;
    color: white;
    border-style: none;
    padding: 0.5rem;
} */

#c-t-a:hover #start{
    background-color: #60137edb;
}

/* #c-t-a:hover #start{
    display: none;
} */

/* #endregion Button */

#debug, .left, .right{
    border: 2px dashed;
    height: 50px;
}
/* #endregion Header */

/* #region Main */

/* #region hero-image */
#hero-image{
    background-color: var(--hero);
    height: 590px;
}

h1{
    text-align: center;
    font-size: 5rem;
    padding-top: 5rem;
}

.row-hero-image{
    padding: 2.5rem;
}

.free-try{
    background-color: #0061ff;
    color: white;
    border-style: none;
    padding: 0.5em;
    margin-top: 2rem;
}

#canc{
    margin-top: 2rem;
}

.fa-arrow-down{
    font-size: 2rem;
    margin-top: 1rem;
}
/* #endregion hero-image */

/* #region Plans */
#plans{
    margin-top: 5rem;
    height: 500px;
}

#business-plan{
    font-size: 2rem;
}

#pay-month{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#pay-year{
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.row-plans{
    display: flex;
}

.price{
    border: 2px dashed black;
    height: 500px;
    
    padding: 1rem;
    border: 1px solid lightgray;
    margin: 0.5rem;
    
}

.type{
    text-align: center;
    border: 1px solid lightgray;
}

#type-pro{
    margin-top: 2rem;
}

.cost{
    margin-top: 1rem;
}

.frequency{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: gray;
}

.user, .space, .share, .buy-now{
    margin-top: 1rem;
}

hr{
    border: 1px solid gray;
    width: 20%;
    margin-top: 2rem;
}

.highlights{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.feat{
    margin: 1rem 0;
}


/* #endregion Plans */



/* #endregion Main */

