/* #region General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --c-a-t: #0061ff;
    --hero: #b4d0e7;
}

/* #endregion General */

/* #region Utilities */
.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 70%;
    margin: auto;
    border: 2px dashed;
}

.container-sm{
    width: 60%;
    margin: auto;
    border: 2px dashed;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9{
    width: calc((100% / 12) * 9);
}

.col-12{
    width: 100%;
}
/* #endregion Utilities */

/* #region Header */
.left, .right{
    width: 50%;
    align-items: center;
    padding-right: 1rem;
    line-height: 3rem;
}

.left{
    justify-content: flex-start;
}

.right{
    justify-content: flex-end;
}

#l-menu > a{
    padding: 0 1rem;
}

#r-menu > a{
    padding: 0 1rem;
}

.not-active{
    text-decoration: none;
    color: black;
}

.not-active:hover{
    text-decoration: line-through;
}

/* #region Button */
#start{
    background-color: #0061ff;
    color: white;
    border-style: none;
    padding: 0.5rem;
}

/* #start-active{
    display: none;
    background-color: #60137edb;
    color: white;
    border-style: none;
    padding: 0.5rem;
} */

#c-t-a:hover #start{
    background-color: #60137edb;
}

/* #c-t-a:hover #start{
    display: none;
} */

/* #endregion Button */

/* #endregion Header */

/* #region Main */

/* #region hero-image */
#hero-image{
    background-color: var(--hero);
    height: 630px;
}

.container > h1{
    text-align: center;
    font-size: 5rem;
    padding-top: 5rem;
    padding-left: 4rem;
}

.row-hero-image{
    padding-top: 2rem;
    padding-left: 7rem;
    border: 2px dashed;
}

.free-try{
    background-color: #0061ff;
    color: white;
    border-style: none;
    padding: 0.5em;
    margin-top: 2rem;
}

#canc{
    margin-top: 2rem;
}

.fa-arrow-down{
    font-size: 2rem;
    margin-top: 1rem;
}
/* #endregion hero-image */

/* #region Plans */
#plans{
    display: flex;
    margin-top: 7rem;
/*     height: 500px;
 */    padding-left: 10rem;
 border: 2px dashed red;

}

.different-plans{
    border: 2px dashed green;
}

#business-plan{
    font-size: 2rem;
/*     padding: 5rem;
 */}

#pay-month{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#pay-year{
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.row-plans{
    justify-content: flex-start;
}

.price{
    border: 2px dashed blue;
    /* height: 800px; */
    /* padding: 1rem; */
/*     border: 1px solid lightgray;
 */    margin-right: 2rem;
 /* padding-left: 1rem; */
    
}

.layout-prices{
    padding-left: 1rem;
}

.type{
    text-align: center;
    border: 1px solid lightgray;
}

.type > h3{
    font-weight: lighter;
}

#type-pro, #type-adv, #type-ent{
    margin-top: 2rem;
}

.cost{
    margin-top: 1rem;
}

.frequency{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: gray;
}

.user, .space, .share, .buy-now{
    margin-top: 1rem;
}

hr{
    border: 1px solid gray;
    width: 20%;
    margin-top: 2rem;
}

.highlights{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.features{
    display: flex;
    justify-content: space-between;
}

.feat{
    margin: 1rem 0;
}


/* #endregion Plans */

/* #region Partners */
#partners{
    margin-top: 10rem;
}
#find{
    background-color: white;
    color: black;
    border-color: black;
    padding: 0.5em;
    margin-top: 2rem;
}

.text-partner{
    padding: 4rem 2rem;
}
/* #endregion Partners */

/* #region Operation */
#operations{
    margin-top: 10rem;
}

.text-operation{
    margin: 2rem 0;
}

#operation-title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
/* #endregion Operation */

/* #endregion Main */

